{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dataset/css/main.css' %}">
    <script src="{% static 'dataset/js/main.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <div id="main_content">
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'data_home' %}">Data Set</a></li>
                    <li><a href="{% url 'add_new_data' %}">Add New Data</a></li>
                    <li><a href="{% url 'check_posibility' %}">Check Possiblity</a></li>
                    <li><a href="{% url 'analyse_data' %}">Analyse Data</a></li>
                </ul>
            </nav>
        </header>
        <div class="main_body">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>